@use '../shared/breakpoints.scss';

.about {
    display: grid;
    row-gap: 1rem;
    grid-template-areas:
        "figure"
        "desc"
    ;
}

.avatar {
    object-fit: cover;
    border-radius: 50%;
    width: 80vw;
    height: 80vw;

    @include breakpoints.tablet-up {
        width: 30vw;
        height: 30vw;
    }

    @include breakpoints.desktop-up {
        width: 25vw;
        height: 25vw;
    }
}

.about>figure {
    grid-area: figure;
    margin: 0;
    text-align: center;

    &>figcaption {
        margin-top: 1rem;
        font-style: italic;
    }
}

.description {
    grid-area: desc;

    &>p {
        margin: 0.5rem;
    }
}