@use '../shared/breakpoints.scss';

html:not(.light-theme) {
    --sixteen-personalities-type-color: #bc84c9;
    --disc-type-color: #5F9AD1;
    --enneagram-type-color: #22d2a2;
}

html.light-theme {
    --sixteen-personalities-type-color: #6F1584;
    --disc-type-color: #00498E;
    --enneagram-type-color: #0A5642;
}

.sixteen-personalities-type {
    &>.personality-circle {
        background-color: var(--sixteen-personalities-type-color);
    }

    blockquote {
        border-left: 0.5rem solid var(--sixteen-personalities-type-color);
    }

    header {
        color: var(--sixteen-personalities-type-color);
    }
}

.disc-type {
    &>.personality-circle {
        background-color: var(--disc-type-color);
    }

    blockquote {
        border-left: 0.5rem solid var(--disc-type-color);
    }

    header {
        color: var(--disc-type-color);
    }
}

.enneagram-type {
    &>.personality-circle {
        background-color: var(--enneagram-type-color);
    }

    blockquote {
        border-left: 0.5rem solid var(--enneagram-type-color);
    }

    header {
        color: var(--enneagram-type-color);
    }
}


.sixteen-personalities-type,
.disc-type,
.enneagram-type {
    display: grid;
    grid-template-areas:
        "icon"
        "description"
    ;
    justify-items: center;
    margin: 0;
    gap: 2rem;


    @include breakpoints.horizontal-tablet-up {
        grid-template-areas:
            "icon description"
        ;
        align-items: center;
        justify-content: start;
    }

    &>.personality-circle {
        grid-area: icon;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        display: grid;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        color: var(--background);
        font-weight: bold;
    }

    &>.description {
        grid-area: description;
        flex-direction: column;
        display: flex;
        align-items: baseline;

        &>header>h3 {
            margin: 0;
        }

        &>blockquote {
            font-style: italic;
            margin: 1rem 0 0;
            padding: 0 0 0 1rem;
        }
    }
}

h2 {
    border-top: 1px solid var(--foreground);
    padding-top: 1rem;

    &>a {
        font-size: 1.5rem;
    }
}