@use '../shared/breakpoints.scss';

@include breakpoints.desktop-up {
  .summary {
    text-align: justify;
  }

  .p-experience,
  .p-education {
    list-style-type: disclosure-closed;
  }

  .p-experience>li>header,
  .p-education>li>header {
    display: flex;
    justify-content: space-between;
  }
}

@media print {
  body {
    visibility: hidden;
  }

  .h-resume {
    visibility: visible;
    position: absolute;
    left: 0;
    top: 0;
  }
}