{% extends "page.html" %}

{% block content %}

<div class="h-card about">
    <figure >
        <img src="/images/profile.webp" alt="Website's author wandering in the forest." class="u-photo avatar"/>
        <figcaption>In the woods, thinking whether I have left an iron turned on at home.</figcaption>
    </figure>
    <section class="description">
        <p>You're reading <a href="/" class="u-url">the website</a> that belongs to <span class="p-name">Wojciech Kopacki</span>, a.k.a. <span class="p-nickname">@kopacki</span>.</p>
        <p>
            I enjoy hiking, computers (both high- and low-level), and I hold the title of meme connoisseur (and BCompSc, too!).
            I'm an ex-middle-end developer. At the moment, I work in <span class="p-locality">Wrocław</span>,
            <span class="p-country-name">Poland 🇵🇱</span> as a small <span class="p-job-title">data engineer</span>.
        </p>
        <p>
            If you want to learn more about my qualifications, please visit the <a href="/resume">resumé</a> page.
            If you're interested in my work preferences, go to <a href="/manual">manual</a> instead.
            Feedback is welcome – see <a href="mailto:wojciech@kopacki.me" class="u-email">my mail</a>.
        </p>
    </section>
</div>

{% endblock content %}
